.header {
    color:beige;
    background-color:rgb(159, 228, 240);
    margin-bottom: 15px;

}
.body {
    background-color:pink
}

#namedate {
    display: flex;
    
}

.about-me {
    display: flex;
}
.profileimg {
}
