* {
    margin: 0;
}

#container {
    width: 960px;
    margin: 0 auto;
}
.header {
    color:black;
    background-color:aliceblue;
    margin-bottom: 15px;

}
.body {
    background-color:pink
}

#namedate {
    display: flex;
    padding: 16px; 
    margin-left: 16px;
}

.about-me {
    display: flex;
}
.profileimg {
aspect-ratio: 1;
}

.biohazard {
    background-color: aliceblue;
    width: 100%;
}

#name {
    padding: 0px 4px;
}

#date {
    padding: 0px 4px;
}

#choose {
    margin-left: 16px;
}