* {
    margin: 0;
}

#container {
    width: 960px;
    margin: 0 auto;
    border: 1px ;
}
 
section {
    margin: 2rem 0;
    font-family: Tahoma, sans-serif
}

.header {
    color:white;
display: flex;
justify-content: center;
background-color: #103e50;
display: flex;
}

header img {
    height: 38px;
    width: 30px;
}


.body {
    background-color:#74353f;
}

#namedate {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 10px;
    color: #a6def8;
position: relative;
bottom: 15px;
}

.about-me {
    display: flex;
max-height: 196px;
margin: 20px 0px 32px 0px;
}

.profileimg {
max-height: 196px;
}

.biohazard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    color: #a6def8;
}

#name {
    padding: 0px 4px;
}

#date {
    color: white;
}

#choose {
    padding: 10px;
    background-color: #205266;
}

#choose h4 {
    padding: 0px 0px 10px 0px;
}

#choose ul {
    color:white;
    padding-left: 17px
}

figure > img {
    width: 180px;
height: 180px;
text-align: center;
}

#problem-child {
    position: relative;
    left: 7px
}

.tech {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
}

figure {
    width: 180px;
    justify-content: center;
}

figcaption {
    text-align: center;
    font-size: 1.25rem;
    position: relative;
    bottom: 37px;
    background-color: rgba(3,3,3, .45);
    color: white;
    padding: 6px 4px;
    
}

.excited {
    color: white;
    padding: 10px 0px;
    margin: 1rem 0rem;
}

.excited h2 {
    color: #a6def8;
padding: 20px 10px;
}

.excited div {
   color:#a6def8;
   background-color:#205266;
   padding: 12px;
}

.excited h4 {
  padding: 0px 0px 18px 0px;  
}

.excited p {
    padding: 0px 0px 2rem 0px; 
    color: white;
}

footer {
    text-align: center;
    color:white;
}